.bmain {
  max-width: calc(60vw * 0.3);
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 100%;
}

.blob {
  z-index: 1;
  cursor: pointer;
}

@media all and (max-width: 1300px) {
  #bio_img_div {
    width: 0%;
    flex: 0 0 0;
    overflow: hidden;
    display: none
  }

  #bio {
    flex: 0 0 100%
  }
}

#bio_container {
  display: flex;
  padding: 0 20vw 30px 20vw;
  background: var(--light);
  color: var(--dark);
}

#bio_body {
  display: block;
  color: var(--gray);
  width: 90%;
  font-family: 'Open Sans', sans-serif;
  padding-left: 3px;
  font-size: 1.1em;
  margin-top: 0;
  line-height: 1.2;
}

/* Blob CSS */
.bio-blob {
 width: 100%;
 height: 100%;
}

#blob-svg {
  margin-top: 1em;
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
}

.blobs {
 filter: url("#goo");
}

.blob {
	fill: white;
}
