#bio_container {
  display: flex;
  margin-bottom: 2em;
}

p {
  display: block;
  color: var(--gray);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  margin-top: 0;
  line-height: 1.2;
}