/* Colour/Font Definitions */
@import url(https://fonts.googleapis.com/css?family=Courier+Prime|Ubuntu|Montserrat:400,600,700|Open+Sans&display=swap);
@import url("css/arrow.css");
@import url("css/bio.css");
@import url("css/fancyjson.css");
@import url("css/smaller-screens.css");
@import url("css/langbars.css");
@import url("css/video.css");
@import url("css/proj.css");
@import url("css/mobile.css");

:root {
  --light: #fbfffe;
  --dark: #141021;
  --navy: #284b63;
  --olive: #84a59d;
  --salmon: #f28482;
  --gray: #999;
  --lightgray: #eee;
}

.mobile-only {
  display: None;
}

body {
  width: 100%;
  height: 100vh;
  color: var(--light);
}

.flexcontainer {
  display:flex
}

.main_container {
  padding: 0 20vw 30px 20vw;
  background: var(--light);
  color: var(--dark);
}

.colflex {
  flex-direction: column
}

.rowflex {
  flex-direction: row
}

.button {
  background-color: var(--navy);
  color: var(--light);
  font-family: "Open Sans";
  width: 7em;
  padding: 0.8em;
  padding-bottom: 0.9em;
  border-radius: 2em;
  margin-top: 2em;
  cursor: pointer;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 3em;
  color: var(--dark)
}

.hover {
  color: var(--dark);
  text-decoration: none;
  padding: 20px 0px;
  margin: 0px 20px 0px 0px;
  display: inline-block;
  position: relative;
  opacity: 0.6;
  z-index: 1;
}

.hover::after {
  transition: 300ms;
  height: 35px;
  content: "";
  position: absolute;
  background-color: var(--salmon);
  opacity: 0.25;
  z-index: -1;
  width: 0%;
  left: 10px;
  bottom: 15px;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
    color: #0d0d0d;
    transition: all 0.2s ease;
}

/* Landing Page CSS */
#landing-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#landing-container canvas, #landing-overlay {
  position: absolute
}

#landing-overlay {
  z-index: 9999 !important;
  color: var(--dark);
  left: 20%;
  top: 40%;
  width: 60%;
  height: 60%;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 4em;
  color: var(--dark)
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#prev-exp {
  font-family: 'Courier Prime', monospace;
  font-size: 1em;
  opacity: 0.4;
  padding-top: 0.5em;
  font-weight: normal;
  color: var(--dark)
}

#intro-text {
  flex-basis: 60%
}

#intro-arrow {
  flex-basis: 40%
}

/* Rotating Text CSS */

.col1 { color: var(--dark) }
.col2 { color: var(--navy) }
.col3 { color: var(--olive) }
.col4 { color: var(--salmon) }

.rotating-text {
  overflow: hidden;
}

.rotating-text h1 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.rotating-text h1 .word {
  position: absolute;
  display: flex;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 0.12em;
}
.rotating-text h1 .word .letter {
  transform-origin: center center 0.8em;
}
.rotating-text h1 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text h1 .word .letter.in {
  transition: 0.32s ease;
}
.rotating-text h1 .word .letter.behind {
  transform: rotateX(-90deg);
}

/* Arrow CSS */
.arrow_part {
  display: block;
  position: absolute;
  margin: 1.5em;
}

/* Bio CSS */
#bio {
  float: left;
  flex: 0 0 100%;
  line-height: 1.0;
}

#bio_body {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

#bio_container:hover > #bio > h2 > .hover {
  opacity: 1.0;
}

#bio_container:hover > #bio > h2 > .hover::after {
  width: 100%;
}

#experience:hover > h2 > .hover {
  opacity: 1.0;
}

#experience:hover > h2 > .hover::after {
  width: 100%;
}

#vid:hover > h2 > .hover {
  opacity: 1.0;
}

#vid:hover > h2 > .hover::after {
  width: 100%;
}

#projects:hover > h2 > .hover {
  opacity: 1.0;
}

#projects:hover > h2 > .hover::after {
  width: 100%;
}


/* Card CSS */
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  border-radius: 5px;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.16);
  transform: translateY(-0.1em)
}

.card_container {
  width: 100%;
  display: flex;
  height: 100%;
  background-color: var(--lightgray);
  border-radius: 5px;
  margin-bottom: 2em;
  padding-left: 1.5em;
}

#expcards {
  margin-top: 1em;
}

.ext-ref {
  display: block;
  margin-left: 1.5em;
  font-family: "Courier Prime";
}

ul.techlist {
  font-family: "Open Sans";
  position: relative;
  bottom: 0px;
  margin-bottom: 1em;
  float: left;
  list-style: none;
}

ul.techlist li {
  display:inline-block;
  border-style: none;
  font-size: 1em;
  margin-right: 3px;
  padding: 0.4rem;
  border-radius: 2px;
  color: var(--light);
  background-color: var(--olive);
  margin-bottom: 0.4em;
}

/* Video CSS */
#vid {
  margin-top: 1em;
}

/* Contact Button CSS */
#contact_buttons {
  text-align: center;
  margin: 3em 0 3em 0;
}

#contact_buttons p {
  width: 100%;
  margin-bottom: 1em;
}

#contact_buttons a {
  font-family: "Courier Prime";
  font-size: 1em;
  color: var(--navy);
  padding: 0 0.5em 0 0.5em;
}
