/* Colour/Font Definitions */
@import url(https://fonts.googleapis.com/css?family=Courier+Prime|Ubuntu|Montserrat:400,700|Open+Sans&display=swap);
@import url("css/arrow.css");
@import url("css/bio.css");
@import url("css/fancyjson.css");

:root {
  --light: #fbfffe;
  --dark: #141021;
  --navy: #284b63;
  --olive: #84a59d;
  --salmon: #f28482;
  --gray: #999;
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--light);
}

.flexcontainer {
  display:flex
}

.colflex {
  flex-direction: column
}

.rowflex {
  flex-direction: row
}

h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 3em;
  color: var(--dark)
}

.hover {
  color: var(--dark);
  text-decoration: none;
  padding: 20px 0px;
  margin: 0px 20px 0px 0px;
  display: inline-block;
  position: relative;
  opacity: 0.6;
  z-index: 1;
}

.hover::after {
  transition: 300ms;
  height: 35px;
  content: "";
  position: absolute;
  background-color: var(--olive);
  opacity: 0.6;
  z-index: -1;
  width: 0%;
  left: 10px;
  bottom: 15px;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
    color: #0d0d0d;
    transition: all 0.2s ease;
}

/* Landing Page CSS */
#landing-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#landing-container canvas, #landing-overlay {
  position: absolute
}

#landing-overlay {
  z-index: 9999 !important;
  color: var(--dark);
  left: 20%;
  top: 40%;
  width: 60%;
  height: 60%;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 4em;
  color: var(--dark)
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#prev-exp {
  font-family: 'Courier Prime', monospace;
  font-size: 1em;
  opacity: 0.4;
  padding-top: 0.5em;
  font-weight: normal;
  color: var(--dark)
}

#intro-text {
  flex-basis: 60%
}

#intro-arrow {
  flex-basis: 40%
}

/* Rotating Text CSS */

.col1 { color: var(--dark) }
.col2 { color: var(--navy) }
.col3 { color: var(--olive) }
.col4 { color: var(--salmon) }

.rotating-text {
  overflow: hidden;
}

.rotating-text h1 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.rotating-text h1 .word {
  position: absolute;
  display: flex;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 0.12em;
}
.rotating-text h1 .word .letter {
  transform-origin: center center 0.8em;
}
.rotating-text h1 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text h1 .word .letter.in {
  transition: 0.32s ease;
}
.rotating-text h1 .word .letter.behind {
  transform: rotateX(-90deg);
}

/* Arrow CSS */
.arrow_part {
  display: block;
  position: absolute;
  margin: 1.5em;
}

/* Bio CSS */
#bio {
  float: left;
  flex: 0 0 70%;
  line-height: 1.0;
}

#bio_body {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

#bio_img_div {
  display: flex;
  align-items: center;
  float: right;
  flex: 0 0 30%;
  line-height: 1.0;
}

#bio_container:hover > #bio > h2 > .hover {
  opacity: 1.0;
}

#bio_container:hover > #bio > h2 > .hover::after {
  width: 100%;
}
