<head>
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link crossorigin rel="preconnect" href="https://www.google-analytics.com">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148413215-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-148413215-1');
  </script>

  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="description" content="{{$.Site.Data.me.description}}">
  <title>{{$.Site.Data.me.page_title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/res/logo.png" />

  <!-- CSS Stylesheets and Fonts -->
  {{if $.Site.Data.aos.enabled -}}
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  {{- end}}

  <!-- Social Tags -->
  <meta property="og:url" content="https://jzhao.xyz" />
  <meta property="og:title" content="{{$.Site.Data.me.page_title}}" />
  <meta property="og:description" content="{{$.Site.Data.me.description}}" />
  <meta property="og:image" content="/res/og-card.jpg" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@_jzhao">
  <meta name="twitter:title" content="{{$.Site.Data.me.page_title}}">
  <meta name="twitter:description" content="{{$.Site.Data.me.description}}" />
  <meta name="twitter:image" content="https://jzhao.xyz/res/og-card.jpg" />

  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  {{ $css := slice "style.scss" "sidebar.scss" "lite.scss" "smaller-screens.scss" "langbars.scss" "proj.scss" "mobile.scss" "darkmode.scss"}}
  {{range $css}}
    {{$sass := resources.Get . | resources.ToCSS }}
    {{with $sass | minify}}
    <style>
      {{.Content | safeCSS}}
    </style>
    {{end}}
  {{end}}
</head>