<head>
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link crossorigin rel="preconnect" href="https://www.google-analytics.com">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148413215-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-148413215-1');
  </script>

  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="description" content="jacky zhao personal portfolio - software developer trying to build solutions to the world’s problems ">
  <title>jacky zhao | personal website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/res/logo.png" />

  <!-- CSS Stylesheets and Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  {{ $css := slice "style.css" "lite.css" "arrow.css" "smaller-screens.css" "langbars.css" "proj.css" "mobile.css" "darkmode.css"}}
  {{range $css}}
    {{with resources.Get . | minify}}
    <style>
      {{.Content | safeCSS}}
    </style>
    {{end}}
  {{end}}
</head>