<head>
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link crossorigin rel="preconnect" href="https://www.google-analytics.com">
  {{ template "_internal/google_analytics_async.html" . }}

  <!-- Meta tags -->
  <meta charset="UTF-8">
  {{ .Scratch.Set "title" $.Site.Data.me.page_title }}
  {{ .Scratch.Set "description" $.Site.Data.me.description }}
  {{ if .Title }}
  {{ .Scratch.Set "title" .Title }}
  {{ end }}
  {{ if .Content }}
  {{ .Scratch.Set "description" (.Content | truncate 150) }}
  {{ end }}
  <title>{{ .Scratch.Get "title" }}</title>
  <meta name="description" content="{{ .Scratch.Get "description" }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/res/logo.png" />

  <!-- CSS Stylesheets and Fonts -->
  {{if $.Site.Data.aos.enabled -}}
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  {{- end}}

  <!-- Social Tags -->
  <meta property="og:url" content="https://jzhao.xyz" />
  <meta property="og:title" content="{{ .Scratch.Get "title" }}" />
  <meta property="og:description" content="{{ .Scratch.Get "description" }}" />
  <meta property="og:image" content="https://jzhao.xyz/res/og-card.png" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@_jzhao">
  <meta name="twitter:title" content="{{ .Scratch.Get "title" }}">
  <meta name="twitter:description" content="{{ .Scratch.Get "description" }}" />
  <meta name="twitter:image" content="https://jzhao.xyz/res/og-card.png" />

  <!-- nonJS -->
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }

      h1 > span.word.col1 {
        opacity: 1;
      }

      .accordion-panel {
        display: block !important;
      }
    </style>
  </noscript>

  {{- with resources.Get "darkmode.js" | minify -}}
  <script>
    {{.Content | safeJS }}
  </script>
  {{- end -}}

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
  {{ $css := slice "article.scss" "colours.scss" "components.scss" "darkmode.scss" "syntax.css" "typography.scss" "layouts/home.scss" "layouts/blog.scss"}}
  {{range $css}}
    {{$sass := resources.Get . | resources.ToCSS }}
    {{with $sass | minify}}
    <style>
      {{.Content | safeCSS}}
    </style>
    {{end}}
  {{end}}
</head>