header {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > nav {
    @media all and (max-width: 600px) {
      display: none;
    }

    & > a {
      margin-left: 2em;
    }
  }

  & > .spacer {
    flex: 1 1 auto;
  }

  & > svg {
    cursor: pointer;
    width: 18px;
    min-width: 18px;
    margin: 0 1em;

    &:hover .search-path {
      stroke: var(--olive);
    }

    .search-path {
      stroke: var(--gray);
      stroke-width: 2px;
      transition: stroke 0.5s ease;
    }
  }
}

footer {
  margin-top: 4em;
  text-align: center;
}

.morePosts {
  min-height: 3em;
}

// list view
#posts {
  list-style: none;
  padding: 0;
  margin: 0;
}

.postLink {
  display: inline-block;
  font-family: Inter;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s ease;
  color: var(--navy);

  &:visited {
    color: var(--visited);
  }

  &.next {
    float: right;
  }
}

.postLi {
  margin: 1.5em 0;

  & .time {
    margin: 0;
  }

  .singlePost {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & * {
      margin: 0 auto;
    }

    & > .desc {
      flex: 1;
      & > * {
        display: inline-block;
      }
    }

    & > .meta {
      margin-left: 2em !important;
    }
  }
}