<div class="project_list">
  {{- range $.Site.Data.projects -}}
  <div class="accordion">
    <div class="accordion-item lt-shadow lt-card lt-flex-row" {{range $.Site.Data.aos.settings}}{{. | safeHTMLAttr}}{{end}}>
      <div class="accordion_body {{if .expand}}is-active{{end}}">
        <div class="proj_desc lt-flex-row">
            <h3 class="project-title">{{.name}}</h3>
            <p class="short-desc"> &mdash; {{.short_desc}}</p>
            <div class="spacer"></div>
            {{- range .links -}}
            <a href="{{.link}}">{{.link_name}}</a>
            {{- end -}}
            <div class="accordion-arrow"></div>
        </div>
        <div class="accordion-panel">
          <p>{{.desc}}</p>
          <ul class="lt-hl">
            {{- range .techlist -}}
            <li>{{.}}</li>
            {{- end -}}
          </ul>
        </div>
      </div>
      <div class="lang_bar">
        <span class="tooltiptext">
          {{- range $i, $e := .lang_ratios -}}
          {{if $i}}, {{end}}{{$e.name}}
          {{- end -}}
        </span>
        <div class="bar_container lt-flex-col">
        {{- range .lang_ratios -}}
          <div style="background-color: {{index $.Site.Data.colors .name}}; flex: 0 0 {{.percent}}%"></div>
        {{- end -}}
        </div>
      </div>
    </div>
  </div>
  {{- end -}}
</div>