.button-con {
  text-align: right;
  padding: 2em;
}

#dayIcon {
  position: relative;
  width: 20px;
  height: 20px;
  top: -1.5px;
  margin: 0 7px;
  fill: var(--gray);
}

#nightIcon {
  position: relative;
  width: 18px;
  height: 18px;
  top: -2px;
  margin: 0 7px;
  fill: var(--gray);
}

#dayIcon,
#nightIcon {
  cursor: pointer;
}

.toggle {
  display: none;
}

.toggle,
.toggle:after,
.toggle:before,
.toggle *,
.toggle *:after,
.toggle *:before,
.toggle + .toggle-button {
  box-sizing: border-box;
}

.toggle::selection,
.toggle:after::selection,
.toggle:before::selection,
.toggle *::selection,
.toggle *:after::selection,
.toggle *:before::selection,
.toggle + .toggle-button::selection {
  background: none;
}

.toggle + .toggle-button {
  outline: 0;
  display: inline-block;
  width: 3em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  border: 2px solid var(--gray);
  user-select: none;
}

.toggle + .toggle-button:after,
.toggle + .toggle-button:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.toggle + .toggle-button:after {
  left: 0;
}

.toggle + .toggle-button:before {
  display: none;
}

.toggle:checked + .toggle-button:after {
  left: 50%;
}

.toggle + .toggle-button {
  padding: 2px;
  transition: all 0.2s ease;
  border: 2px solid var(--gray);
  border-radius: 2em;
}

.toggle + .toggle-button:after {
  transition: all 0.2s ease;
  background: var(--gray);
  content: "";
  border-radius: 1em;
}

.toggle:checked + .toggle-button:after {
  left: 50%;
}

