.lang_bar {
  flex: 0 0 0.8em;
  float: right;
}

.bar_container {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  height: 100%;
  z-index: 10;
}

.job_name {
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: 0.2rem;
}

.company-logo {
  width: 52px;
  height: 52px;
  border-radius: 3px;
  margin-right: 1em;
}

.job-info {
  padding: 1.5rem 0 0 0;
}

.lang_bar {
  position: relative;
}

/* Tooltip text */
.lang_bar .tooltiptext {
  font-family: 'Open Sans', sans-serif;
  white-space:nowrap;
  visibility: hidden;
  opacity: 0;
  color: var(--dark);
  text-align: center;
  border-radius: 3px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  top: 50%;
  transform: translate(5em, -50%);
  z-index: 1;
  transition: all 0.2s ease;
}

.lang_bar:hover .tooltiptext {
  visibility: visible;
  opacity: 1.0;
  margin-left: -2em;
}
