#video-context {
  flex: 0 0 20%;
  margin: 0 1.5em;
  justify-content: Center;
}

#togglePlayButton {
  margin: 1.5em 0;
  font-family: Open Sans;
  width: 4em;
}

.video-container {
  position: relative;
  width: 100%;
}

video {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  filter: grayscale(0%);
  transition: filter 0.3s linear;
}

.playpause {
  background-image: url("../res/pause.png");
  background-repeat:no-repeat;
  width:20%;
  height:20%;
  position:absolute;
  display: none;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
  text-align: center;
}

.vol-contain {
  width:20%;
  height:20%;
  position:absolute;
  display: none;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
  text-align: center;
}

#vid_player_card {
  margin: 6em 0 !important;
}

#progress {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding-left: 0.5rem;
  margin-top: 55%;
}

#volume {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding-left: 0.75rem;
  margin-top: 70%;
}
