#TableOfContents > ol {
  counter-reset: section;
  margin-left: 0em;
  padding-left: 1.5em;
}

#TableOfContents ol > li {
  counter-increment: section;
}

#TableOfContents ol > li::marker, #TableOfContents ol > li > ol > li::marker {
  font-family: Source Sans Pro;
  content: counter(section) "  ";
  font-weight: 700;
}

#TableOfContents ol > li > ol {
    counter-reset: subsection;
}

#TableOfContents ol > li > ol > li {
    counter-increment: subsection;
}

#TableOfContents ol > li > ol > li::marker {
    content: counter(section) "." counter(subsection) "  ";
}


header, .singlePost, #postTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav > a {
  margin-left: 2em;
}

#postTitle h1 {
  margin-right: 2em;
}

header:hover .hover {
  opacity: 1.0;
}

header:hover .hover::after {
  width: 100%;
}

body {
  margin: 0;
  background-color: var(--light);
}

.desc {
  flex: 1;
}

.desc * {
  display: inline-block;
}

footer {
  margin-top: 4em;
  text-align: center;
}

hr {
  width: 25%;
  margin: 4em auto;
  height: 2px;
  border-radius: 1px;
  border-width: 0;
  color: var(--dark);
  background-color: var(--dark);
}

.meta {
  margin-left: 2em !important;
}

#contentWrapper {
  margin: 25px 30vw;
}

@media all and (max-width: 1200px) {
  #contentWrapper {
    margin: 25px 5vw;
  }
}

@media all and (max-width: 600px) {
  header>nav {
    display: none;
  }
  #postTitle {
    flex-direction: column;
    align-items: flex-start;
  }
}

table {
  width: 100%;
}

img {
  width: 100%;
  border-radius: 3px;
  margin: 1em 0;
}

p>img+em {
  display: block;
  transform: translateY(-1em);
}

sup {
  line-height: 0
}

#newsletter {
  margin: 2em 0;
}

#newsletter>input {
  padding: 0.7em 1em;
  border-radius: 4px;
}

#newsletter>input[type="submit"] {
  border: none;
  color: var(--light);
  background-color: var(--navy);
  cursor: pointer;
}

#newsletter>input[type="email"] {
  background-color: var(--light);
  border: 1px solid var(--outlinegray);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.morePosts {
  min-height: 3em;
}

.postLink {
  display: inline-block;
}

.postLink.next {
  float: right;
}