#TableOfContents > ol {
  counter-reset: section;
  margin-left: 0em;
  padding-left: 1.5em;
  & > li {
    counter-increment: section;
    & > ol {
      counter-reset: subsection;
      & > li {
        counter-increment: subsection;
        &::marker {
          content: counter(section) "." counter(subsection) "  ";
        }
      }
    }
  }

  & > li::marker {
    content: counter(section) "  ";
  }

  & > li::marker, & > li > ol > li::marker {
    font-family: Source Sans Pro;
    font-weight: 700;
  }
}

.postLi {
  margin-bottom: 1em;
  & > .time {
    margin: 0;
    margin-bottom: -1em !important;
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 0.5em;
  }
}

.singlePost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & * {
    margin: 0.1em auto;
  }

  & > .desc {
    flex: 1;

    & > * {
      display: inline-block;
    }
  }
}

header, #postTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav > a {
  margin-left: 2em;
}

#postTitle h1 {
  margin-right: 2em;
}

footer {
  margin-top: 4em;
  text-align: center;
}

.meta {
  margin-left: 2em !important;
}

#contentWrapper {
  margin: 25px 30vw;

  @media all and (max-width: 1200px) {
    margin: 25px 5vw;
  }
}

@media all and (max-width: 600px) {
  header>nav {
    display: none;
  }
  #postTitle {
    flex-direction: column;
    align-items: flex-start;
  }
}

table {
  width: 100%;
}

img {
  width: 100%;
  border-radius: 3px;
  margin: 1em 0;
}

p>img+em {
  display: block;
  transform: translateY(-1em);
}

sup {
  line-height: 0
}

.morePosts {
  min-height: 3em;
}

.postLink {
  display: inline-block;
}

.postLink.next {
  float: right;
}