#contentWrapper, .singlePage {
  margin: 25px 30vw;

  @media all and (max-width: 1200px) {
    margin: 25px 5vw;
  }
}

// header link home
header > h1 > a {
  font-family: Inter;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s ease;
  color: var(--navy);
}

p, tbody, article li {
  font-family: Source Sans Pro;
  color: var(--gray);
  line-height: 1.5em;
}

input {
  font-family: Source Sans Pro;
  color: var(--gray);
}

h2 {
  opacity: 0.85;
}

h3 {
  opacity: 0.75;
}

blockquote {
  margin-left: 0;
  border-left: 3px solid var(--navy);
  padding-left: 1em;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: var(--olive);
  }
}

table {
  width: 100%;
  padding: 1.5em;
}

td, th {
  padding: 0.1em 0.5em;
}

.footnotes p {
  margin: 0.5em 0;
}

img {
  width: 100%;
  border-radius: 3px;
  margin: 1em 0;
}

hr {
  width: 25%;
  margin: 4em auto;
  height: 2px;
  border-radius: 1px;
  border-width: 0;
  color: var(--dark);
  background-color: var(--dark);
}