// Add your own CSS here!
:root {
  --light: #f2e9e1;
  --dark: #2f2235;
  --secondary: #426b69;
  --tertiary: #8db9b7;
  --visited: #8db9b7;
  --primary: #e46262;
  --gray: #3a333d;
  --lightgray: #e3deda;
  --outlinegray: #a8a39e;
}

::selection, mark, :root::target-text {
  background: var(--tertiary);
  background-color: var(--tertiary);
}

[saved-theme="dark"] {
  --light: #201624 !important;
  --dark: #faede1 !important;
  --secondary: #77a3a0 !important;
  --visited: #567d7b !important;
  --tertiary: #325452 !important;
  --primary: #bd6868 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #4f473f !important;
  --outlinegray: #3b2842 !important;
}

.ascii {
  margin-bottom: 0;
  padding: 0;
  white-space: pre;
  font-weight: bold;
  font-family: "JetBrains Mono";

  &.ascii-dark, .ascii-dark {
    color: var(--dark);
  }
  &.ascii-gray, .ascii-gray {
    color: var(--outlinegray);
  }
  &.ascii-primary, .ascii-primary {
    color: var(--primary);
  }
  &.ascii-secondary, .ascii-secondary {
    color: var(--secondary);
  }
  &.ascii-tertiary, .ascii-tertiary {
    color: var(--tertiary);
  }
}

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: center;
}

.index {
  margin: 4em 25vw;
  @media all and (max-width: 1200px) {
    margin: 25px 5vw;
  }

  & > .bio {
    display: flex;
    gap: 4em;

    @media screen and (max-width: 1440px) {
      flex-direction: column !important;
    }

    & > article {
      text-align: justify;
    }

    & > ul {
      flex: 0 0 35%;
      list-style: none;
      padding: 0;

      & h2 {
        font-size: 1.4rem;
        margin: 0 0 1em 0;
      }

      & a {
        font-family: Spectral
      }

      & li {
        margin-bottom: 0.5em;
      }

      & h3 {
        margin: 0;
      }

      & .meta {
        margin-top: 0;
      }

      & .tags > li > a {
        font-size: 0.8em;
        font-weight: 400;
      }
    }
  }
}