// Add your own CSS here!
:root {
  --light: #f2e9e1;
  --dark: #2f2235;
  --secondary: #426b69;
  --tertiary: #8db9b7;
  --visited: #8db9b7;
  --primary: #e46262;
  --gray: #3a333d;
  --lightgray: #e3deda;
  --outlinegray: #c9c3bd;
}

::selection, mark, :root::target-text {
  background: var(--tertiary);
  background-color: var(--tertiary);
}

[saved-theme="dark"] {
  --light: #201624 !important;
  --dark: #faede1 !important;
  --secondary: #77a3a0 !important;
  --visited: #567d7b !important;
  --tertiary: #325452 !important;
  --primary: #e46262 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #4f473f !important;
  --outlinegray: #38323b !important;
}

.ascii {
  margin-bottom: 0;
  padding: 0;

  &.ascii-dark, .ascii-dark {
    color: var(--dark);
  }
  &.ascii-primary, .ascii-primary {
    color: var(--primary);
  }
  &.ascii-secondary, .ascii-secondary {
    color: var(--secondary);
  }
  &.ascii-tertiary, .ascii-tertiary {
    color: var(--tertiary);
  }
}