#bio_json {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  padding: 25px 3em 15px 3em !important;
  margin-left: 2em !important;
  flex-grow: 1;
  background-color: #191721;
  border-radius: 4px;
}

#json0 {
  color: #f9f5dd;
  display: block;
  text-indent: -1em;
}

#json1, #json4, #json2, #json3  {
  display: block;
}

#json1_2, #json4_2, #json3_2, #json3_3, #json2_2 {
  color: #ff5794;
  display: inline;
}

#json1_3, #json4_3 {
  color: #e6db7a;
  display: inline;
}

#json3_1, #json2_1, #json1_1, #json4_1 {
  color: #b2e64c;
  display: inline;
}

#json3_4 {
  color: #66cce1;
  display: inline;
}
