/* Card Styling */
.lt-card {
  padding: 0.25em 1em;
  margin: 0.5em 0;
  border-radius: 5px;
  background-color: var(--lt-colours-light);
  border: 1px solid var(--lt-colours-gray);
}

/* Hover Effects */
.lt-hover {
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.lt-hover:hover {
  box-shadow: 0 14px 28px rgba(27, 33, 48,0.18), 0 10px 10px rgba(27, 33, 48,0.16) !important;
}

/* Shadow Styling */
.lt-shadow {
  box-shadow: 0 14px 28px rgba(27, 33, 48,0.06), 0 10px 10px rgba(27, 33, 48,0.02);
}

/* Horizontal List styling */
ul.lt-hl {
  list-style: none;
  padding: 0;

  & > li {
    display:inline-block;
    border-style: none;
    font-size: 0.9em;
    margin-right: 3px;
    padding: 0.3rem;
    border-radius: 2px;
    color: var(--lt-colours-light);
    background-color: var(--lt-colours-secondary);
    margin-bottom: 0.2em;
  }
}

/* Layout Styling */
.lt-flex-col {
  display: flex;
  flex-direction: column;
}

.lt-flex-row {
  display: flex;
  flex-direction: row;
}

.lt-content-column {
  padding: 20px 20vw 20px 20vw;
}

/* Centre Div Horizontal */
.lt-centre {
  text-align: center;
}

/* Default Flex Child Sizes */
.lt-flex-50 {
  flex: 0 0 50%;
}

.lt-flex-25 {
  flex: 0 0 25%;
}

.lt-flex-33 {
  flex: 0 0 33%;
}

.lt-flex-66 {
  flex: 0 0 66%;
}

.lt-flex-centre {
  justify-content: center;
}