.mobile-only {
  display: None;
}

@media all and (max-width: 450px) {
  .mobile-only {
    display: inline-block !important;
  }

  h1 {
    font-size: 2em !important;
  }

  h3 {
    font-size: 1em !important;
  }

  p {
    font-size: 1em !important;
  }

  .mobile-hide {
    display: None !important;
  }

  #about, #experience, #projects{
    padding: 0 5vw 30px 5vw !important;
  }
}