.mobile-only {
  display: None;
}

@media all and (max-width: 450px) {
  .mobile-only {
    display: inline-block !important;
  }

  #landing-overlay {
    overflow: hidden;
    left: 10vw !important;
    width: 80vw !important;
    padding: 0 0;
  }

  h1 {
    font-size: 2em !important;
  }

  h2 {
    font-size: 2em !important;
  }

  h3 {
    font-size: 1em !important;
  }

  p {
    font-size: 1em !important;
  }

  .mobile-hide {
    display: None !important;
  }

  .rotating-text {
    height: 2em;
  }

  #about, #experience, #vid, #projects{
    padding: 0 5vw 30px 5vw !important;
  }

  .card_container {
    padding-left: 0.8em !important;
    width: calc(100% - 0.8em) !important;
  }

  .company-logo {
    width: 40px;
    height: 40px;
  }

  .job-info > .accordion-arrow {
    margin-top: 0.5em;
  }

  .job_title {
    font-size: 0.8em !important;
  }

  .lang_bar {
    flex: 0 0 0.6em !important;
  }

  .accordion_thumb {
    font-size: 1em;
  }

  .accordion_body {
    padding: 0.8em !important;
  }

  .proj_desc a {
    padding-right: 0.3em !important;
    font-size: 0.7em;
    transform: translateY(0.35em);
  }

  .tooltiptext {
    display: None
  }

  .deco {
    top: 50px;
    left: 50px;
  }

  .img-container {
    margin-left: 0;
  }
}