/* Bio CSS */
.lt-content-column:hover {
    & h2 .hover {
        opacity: 1.0;
    }

    & h2 .hover::after {
        width: 100%;
    }

    & .side-header::before {
        width: 180px;
    }
}

.side-header-container {
    margin-top: 2em;
}

.side-header {
    position: absolute;
    opacity: 0.3;
    font-size: 0.8em;
    transition: opacity 2s cubic-bezier(.25, .8, .25, 1);
    transform-origin: top left;
    transform: translateX(-2em) rotateZ(90deg) rotateZ(180deg) translateX(-100%) ;

    &::before {
        height: 100%;
        position: absolute;
        width: 0px;
        display: inline-block;
        transform: translateY(-0.5em);
        border-bottom: 3px solid var(--gray);
        color: var(--gray);
        transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
        transition-delay: 0.3s;
        content: '';
        right: calc(100% + 0.5em);
    }
}