:root {
  --light: #faf8f8;
  --dark: #141021;
  --navy: #284b63;
  --olive: #84a59d;
  --salmon: #f28482;
  --gray: #4e4e4e;
  --lightgray: #747474;
  --outlinegray: #dadada;
  --lt-colours-light: var(--light) !important;
  --lt-colours-lightgray: var(--lightgray) !important;
  --lt-colours-dark: var(--navy) !important;
  --lt-colours-secondary: var(--olive) !important;
  --lt-colours-gray: var(--outlinegray) !important;
}

[saved-theme="dark"] {
  --light: #1c1b22 !important;
  --dark: #fbfffe !important;
  --navy: #75a1bf !important;
  --olive: #84a59d !important;
  --salmon: #f58382 !important;
  --gray: #c4c4c4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}

.main_card {
  margin-bottom: 2em !important;
}

.slider__txt {
  color: var(--gray);
  margin: 1rem 1rem 1rem 0;
  text-align: left;
}

.lt-content-column {
  background-color: var(--light);
}

.mobile-only {
  display: None;
}

html {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--light);
}

h1 {
  font-family: 'Montserrat';
  font-size: 4em;
  color: var(--dark);
  margin-bottom: 0;
}

h2 {
  font-family: 'Montserrat';
  font-size: 3em;
  color: var(--dark)
}

h3 {
  font-family: "Roboto Mono";
  margin: 0;
  font-size: 1em;
  color: var(--dark)
}

.lt-card {
  margin: 0 !important;
  padding: 0 0 0 1em !important;
}

.hover {
  color: var(--dark);
  text-decoration: none;
  display: inline-block;
  position: relative;
  opacity: 0.6;
  z-index: 1;
  transition: 300ms;
}

.hover::after {
  transition: 300ms;
  height: 25px;
  content: "";
  position: absolute;
  background-color: var(--salmon);
  opacity: 0.5;
  z-index: -1;
  width: 0%;
  left: 10px;
  bottom: 0px;
}

a {
  color: var(--olive);
  transition: all 0.2s ease;
}

/* Landing Page CSS */

#landing-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#landing-container canvas, #landing-overlay {
  position: absolute
}

#landing-overlay {
  z-index: 9999 !important;
  background-color: #00000000 !important;
  top: 30%;
  height: 60%;
}

#canvas {
  width: 100vw;
  height: 100vh;
}

#prev-exp {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  opacity: 0.5;
  padding-top: 0.5em;
  font-weight: normal;
  color: var(--dark)
}

/* Rotating Text CSS */

.col1 {
  color: var(--dark)
}

.col2 {
  color: var(--navy)
}

.col3 {
  color: var(--olive)
}

.col4 {
  color: var(--salmon)
}

.rotating-text {
  overflow: hidden;
}

.rotating-text h1 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}

.rotating-text h1 .word {
  position: absolute;
  display: flex;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 0.12em;
}

.rotating-text h1 .word .letter {
  transform-origin: center center 0.8em;
}

.rotating-text h1 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.rotating-text h1 .word .letter.in {
  transition: 0.32s ease;
}

.rotating-text h1 .word .letter.behind {
  transform: rotateX(-90deg);
}

/*/* Arrow CSS */

.arrow_part {
  margin: 1.5em;
}

/* Bio CSS */

p {
  display: block;
  color: var(--gray);
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  line-height: 1.2;
}

.lt-content-column:hover h2 .hover {
  opacity: 1.0;
}

.lt-content-column:hover h2 .hover::after {
  width: 100%;
}

/* Card CSS */

.ext-ref {
  display: block;
  margin-left: 1.5em;
  font-weight: 700;
  font-family: "Roboto Mono";
}

ul.lt-hl {
  font-family: "Roboto";
  margin-bottom: 1em;
}

#contact_buttons a {
  font-family: "Roboto Mono";
  font-weight: 700;
  font-size: 1em;
  color: var(--navy);
  padding: 0 0.5em 3em 0.5em;
}

.img-container {
  position: relative;
  margin-top: 2em;
  margin-left: 3em;
  min-height: 256px;
}

.img-container .me {
  filter: grayscale(80%);
  max-height: 256px;
  max-width: 100%;
  border-radius: 5px;
}

#bio_container:hover img {
  filter: grayscale(0%);
  transform: translate(-0.3em, -0.3em);
}

.deco {
  position: absolute;
  transition: all 2s cubic-bezier(.25, .8, .25, 1);
  z-index: 3;
  top: 100px;
  left: 35%;
}

.me {
  position: absolute;
  left: 0;
  top: 0;
}

[data-aos] {
  body[data-aos-easing="custom"] &, &[data-aos][data-aos-easing="custom"] {
    transition-timing-function: cubic-bezier(.25, .8, .25, 1);
  }
}