/* Colour/Font Definitions */
@import url(https://fonts.googleapis.com/css?family=Courier+Prime|Ubuntu|Montserrat:400,600,700|Open+Sans&display=swap);

:root {
  --light: #fbfffe;
  --dark: #141021;
  --navy: #284b63;
  --olive: #84a59d;
  --salmon: #f28482;
  --gray: #777;
  --lightgray: #eee;
  --outlinegray: #dddddd;

  --lt-colours-light: var(--light) !important;
  --lt-colours-lightgray: var(--lightgray) !important;
  --lt-colours-dark: var(--navy) !important;
  --lt-colours-secondary: var(--olive) !important;
  --lt-colours-gray: var(--outlinegray) !important;
}

[saved-theme="dark"] {
  --light: #141021 !important;
  --dark: #fbfffe !important;
  --navy: #75a1bf !important;
  --olive: #84a59d !important;
  --salmon: #f58382 !important;
  --gray: #aaa !important;
  --lightgray: #302d3b !important;
  --outlinegray: #343434 !important;
}

.main_card {
  margin-bottom: 2em !important;
}

.slider__txt {
  color: var(--gray);
  margin: 1rem 1rem 1rem 0;
  text-align: left;
}

.lt-content-column {
  background-color: var(--light);
}

.mobile-only {
  display: None;
}

html {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--light);
}

h1 {
  font-family: 'Montserrat';
  font-size: 4em;
  color: var(--dark);
  margin-bottom: 0;
}

h2 {
  font-family: 'Montserrat';
  font-size: 3em;
  color: var(--dark)
}

h3 {
  font-family: "Montserrat";
  margin: 0;
  font-size: 1em;
  color: var(--dark)
}

.lt-card {
  margin: 0 !important;
  padding: 0 0 0 1em !important;
}

.hover {
  color: var(--dark);
  text-decoration: none;
  display: inline-block;
  position: relative;
  opacity: 0.6;
  z-index: 1;
}

.hover::after {
  transition: 300ms;
  height: 25px;
  content: "";
  position: absolute;
  background-color: var(--salmon);
  opacity: 0.5;
  z-index: -1;
  width: 0%;
  left: 10px;
  bottom: 0px;
}

a {
  text-decoration: none;
  color: var(--dark);
  transition: all 0.2s ease;
}

/* Landing Page CSS */
#landing-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#landing-container canvas, #landing-overlay {
  position: absolute
}

#landing-overlay {
  z-index: 9999 !important;
  background-color: #00000000 !important;
  top: 30%;
  height: 60%;
}

#canvas {
  width: 100vw;
  height: 100vh;
}

#prev-exp {
  font-family: 'Courier Prime', monospace;
  font-size: 1em;
  opacity: 0.4;
  padding-top: 0.5em;
  font-weight: normal;
  color: var(--dark)
}

/* Rotating Text CSS */

.col1 { color: var(--dark) }
.col2 { color: var(--navy) }
.col3 { color: var(--olive) }
.col4 { color: var(--salmon) }

.rotating-text {
  overflow: hidden;
}

.rotating-text h1 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.rotating-text h1 .word {
  position: absolute;
  display: flex;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 0.12em;
}
.rotating-text h1 .word .letter {
  transform-origin: center center 0.8em;
}
.rotating-text h1 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text h1 .word .letter.in {
  transition: 0.32s ease;
}
.rotating-text h1 .word .letter.behind {
  transform: rotateX(-90deg);
}

/*/* Arrow CSS */
.arrow_part {
  margin: 1.5em;
}

/* Bio CSS */

p {
  display: block;
  color: var(--gray);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  margin-top: 0;
  line-height: 1.2;
}

.lt-content-column:hover h2 .hover {
  opacity: 1.0;
}

.lt-content-column:hover h2 .hover::after {
  width: 100%;
}

/* Card CSS */

.ext-ref {
  display: block;
  margin-left: 1.5em;
  font-family: "Courier Prime";
}

ul.lt-hl {
  font-family: "Open Sans";
  margin-bottom: 1em;
}

#contact_buttons a {
  font-family: "Courier Prime";
  font-size: 1em;
  color: var(--navy);
  padding: 0 0.5em 3em 0.5em;
}

.accordion-thumb {
  transform: translateY(0.1em);
}