.darkmode {
  padding: 2em;

  // cascade fade in
  animation: fadeIn ease 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

// typography
h1 {
  font-size: 4em;
  margin-bottom: 0;
}

h2 {
  font-size: 3em;
}

h3 {
  margin: 0;
  font-size: 1em;
}

a {
  color: var(--olive);
  transition: all 0.2s ease;
}

ul {
  margin-top: 0em;
  padding-left: 1.5em;
}

p, ul {
  display: block;
  font-size: 1.1em;
  line-height: 1.2;
}

.lt-card {
  margin: 0 !important;
  padding: 0 0 0 1em !important;
}

/* Landing Page CSS */
#landing-container {
  position: relative;
  width: 100vw;
  height: 100vh;

  & > #landing-overlay {
    position: absolute;
    z-index: 9999 !important;
    background-color: #00000000 !important;
    top: 30%;
    height: 60%;

    @media all and (max-width: 450px) {
      overflow: hidden;
      left: 10vw !important;
      padding: 0 0;
    }
  }

  & > canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
}

// cascade fade in
#main-landing {
  & > h1 {
    animation: fadeIn ease 0.6s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;

    @media all and (max-width: 450px) {
      &:nth-child(2) {
        margin-top: 15vh;
      }
    }
  }


  @for $i from 1 through 4 {
    & > ul > li:nth-child(#{$i}) {
      animation: fadeIn ease 0.6s;
      opacity: 0;
      animation-fill-mode: forwards;
      animation-delay: #{$i * .1 + 1.2}s;
    }
  }
}

#sub-nav {
  list-style: none;
  padding-left: 0;
  margin: 0;

  & > li {
    display: inline-block;
    font-family: 'Inter', monospace;
    font-size: 1em;
    padding-top: 0.5em;
    font-weight: normal;
    color: var(--dark);

    & > a {
      padding-right: 0.5em;
    }
  }
}

/* Rotating Text CSS */
.col1 {
  color: var(--dark)
}

.col2 {
  color: var(--navy)
}

.col3 {
  color: var(--olive)
}

.col4 {
  color: var(--salmon)
}

.rotating-text {
  overflow: hidden;
  animation: fadeIn ease 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;

  @media all and (max-width: 450px) {
    height: 2em;
  }

  & > h1 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;

    & > .word {
      position: absolute;
      display: flex;
      opacity: 0;
      overflow: hidden;
      padding-bottom: 0.12em;

      & > .letter {
        transform-origin: center center 0.8em;
      }

      & > .letter.out {
        transform: rotateX(90deg);
        transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
      }

      & > .letter.in {
        transition: 0.32s ease;
      }

      & > .letter.behind {
        transform: rotateX(-90deg);
      }
    }
  }
}

/* Card CSS */
.ext-ref {
  display: block;
  margin-left: 1.5em;
  font-weight: 700;
  font-family: "Inter";
}

ul.lt-hl {
  font-family: "Source Sans Pro";
  margin-bottom: 1em;
}

#bio .lt-flex-50 > h2 {
  font-size: 1.25em;
  margin: 0;
}

.highlight-container {
  overflow-x: visible;

  & > .highlight {
    margin-bottom: 2em;
  }
}

.detail-container {
  margin-left: 3em;
  flex: 0 0 calc(50% - 3em) !important;
  position: relative;

  @media all and (max-width: 1440px) {
    margin-left: 0 !important;
  }

  & > ul {
    list-style: none;
    font-size: 1em;
    padding: 1em 0;
    & > li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

#about:hover {
  & .me, & .deco, & .highlight-container {
    filter: grayscale(0%);
  }
}

#about p:first-of-type {
  margin-top: 0;
}

[data-aos] {
  body[data-aos-easing="custom"] &, &[data-aos][data-aos-easing="custom"] {
    transition-timing-function: cubic-bezier(.25, .8, .25, 1);
  }
}

.gh-chart {
  filter: var(--invert-filter);
  width: 100%;
  margin-bottom: 2em;
}

.singlePage {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
    opacity: 0.8;
  }
  h3 {
    font-size: 1.2rem;
    opacity: 0.7;
  }
}