sup {
  line-height: 0;

  & > a {
    text-decoration: none;
    padding: 0 0.1em 0 0.2em;
  }
}

pre {
  font-family: 'Fira Code';
  padding: 0.75em;
  border-radius: 3px;
  overflow-x: scroll;
}

code {
  font-family: 'Fira Code';
  font-size: 0.85em;
  padding: 0.15em 0.3em;
  border-radius: 5px;
  background: var(--lightgray);
}

h1, h2, h3, h4, ol, ul, thead {
  font-family: Inter;
  color: var(--dark)
}

p, li, text {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--gray);
  fill: var(--gray);
}

@media all and (max-width: 450px) {
  h1 {
    font-size: 2em !important;
  }

  h3 {
    font-size: 1em !important;
  }

  p {
    font-size: 1em !important;
  }
}

// internal link
a[href^="/"], a[href^="#"] {
  text-decoration: none;
  background-color: #afbfc928;
  padding: 0.05em 0.2em;
  border-radius: 3px;
}

// external link
a {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: var(--olive);
  text-decoration-thickness: .15em;
  transition: all 0.2s ease;
  color: var(--navy);

  &:hover {
    color: var(--olive) !important;
  }
}

p > img + em {
  display: block;
  transform: translateY(-1em);
}

.singlePage > article {
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.5rem;
    opacity: 0.9;
  }

  h3, h4, h5 {
    font-size: 1.2rem;
    opacity: 0.8;
  }
}

// mobile
.mobile-only {
  display: None;
}

@media all and (max-width: 450px) {
  .mobile-only {
    display: inline-block !important;
  }

  .mobile-hide {
    display: None !important;
  }
}
