<p>
    If you like this content and want to keep up to
    date with my latest ramblings and whatever else I've found interesting on the web, you should consider subscribing to my
    newsletter :) Not convinced yet? Read some <a href="https://buttondown.email/jacky/archive">previous issues here</a>!
</p>

<form id="newsletter" action="https://buttondown.email/api/emails/embed-subscribe/jacky" method="post" target="popupwindow"
      onsubmit="window.open('https://buttondown.email/jacky', 'popupwindow')" class="embeddable-buttondown-form">
    <input type="email" placeholder="name@email.com" name="email" id="bd-email" />
    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Subscribe" />
</form>