// Add your own CSS here!

:root {
  --light: #F5F2E9;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #E7E5E0;
  --outlinegray: #D2D0C9;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #1c1a17 !important;
  --dark: #fbfffe !important;
  --secondary: #819fb3 !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #33312f !important;
  --outlinegray: #444444 !important;
}

#banner {
  margin: 3em 0;
  filter: invert(0%);
  opacity: 0.85;

  [saved-theme="dark"] & {
    filter: invert(100%);
  }
}

#cursor-chat-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  pointer-events: none;
  top: 0px;
  left: 0px;

  & .cursor {
    transition: opacity 1s ease;
    & > svg {
      position: absolute;
      top: -17.5px;
      left: -17.5px;
      width: 35px;
      height: 35px;
    }
  }

  & .stale, & .new {
    visibility: hidden;
  }

  & .expiring {
    opacity: 0;
  }

  & .cursor > p, & #cursor-chat-box {
    display: inline-block;
    margin-top: 1em;
    margin-left: 0.5em;
    padding: 0.6em 1em;
    position: relative;
    border-radius: 20px;
    border: 2px solid #00000011;
    box-shadow: 7px 15px 36px 4px rgba(0,0,0,0.1);
    max-width: 250px;
    border-top-left-radius: 0;
    font-family: sans-serif;
    overflow-wrap: anywhere;
    font-size: 1em;
    min-height: calc(1em + 4px);
  }

  & #cursor-chat-box {
    display: none;
  }

  & .chat {
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;

    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
}

#index {
  & > .bio {
    display: flex;
    gap: 1.5em;
    z-index: 1;
    position: relative;

    @media screen and (max-width: 1440px) {
      flex-direction: column-reverse !important;
      gap: 4em;
    }

    & > .writing-sidebar {
      flex: 0 0 30%;

      & > div {
        margin-bottom: 2em;
      }

      & ul {
        list-style: none;
        padding: 0;
        margin-left: 0;
        z-index: 0;
      }

      & > div > a {
        opacity: 0.6;
      }

      & h2 {
        font-size: 1.4rem;
        margin: 0.75em 0;
      }
      
      & li {
        margin-bottom: 0.8em;
      }

      & h3 {
        margin: 0;
      }

      & .meta {
        margin: 0.2em 0;
      }

      & .tags > li > a {
        font-size: 0.9em;
        font-weight: 600;
      }
    }
  }
}

.poem {
  font-family: var(--font-body);
  font-size: 1.1rem;
  padding: 0;
  color: var(--gray);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.return-only {
  display: none;
}

[visited="true"] .return-only {
  display: inline;
}

[show-animation="true"] .delay {
  animation: fadeIn ease 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;

  &.t-1 {
    animation-delay: 0.5s;
  }

  &.t-2 {
    animation-delay: 0.9s;
  }

  &.t-3 {
    animation-delay: 2s;
  }

  &.t-4 {
    animation-delay: 2.2s;
  }

  &.t-5 {
    animation-delay: 2.4s;
  }

  @for $j from 1 through 5 {
  @for $i from 1 through 10 {
  &.stagger:nth-last-of-type(#{$j}) > *:nth-child(#{$i}) {
    animation: fadeIn ease 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: #{$i * .08 + 2.2}s;
    z-index: #{-$i + 10 * ($j+1)};
    position: relative;
  }
  }
  }
}

hr {
  overflow: visible; /* For IE */
  padding: 0;
  margin: 5em auto;
  border: none;
  color: var(--gray);
  text-align: center;
  width: 40%;
  z-index: -999;
  border-color: var(--gray);
  &:after {
    content: "* * *";
    z-index: -999;
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background: var(--light);
    transform: translateY(-0.1em);
  }
}
