<div id="vid_player_card" class="lt-card lt-hover lt-shadow lt-flex-row">
  <div id="video-context" class="lt-flex-col">
    <h3 class="job_name">video.</h3>
    <p> short video I shot and edited explaining three of my favourite projects to date, along with some really short demos.</p>
    <div id="togglePlayButton" class="lt-button">► play.</div>
  </div>
  <div id="video-content">
    <div class=video-container>
      <video id="makerportfolio" poster="res/vid-cover.png" width="960" height="720" preload="none">
        <source src="res/makerportfolio.mp4" type="video/mp4">
        i feel like you're just trying to break my website at this point :((
      </video>
      <div class="playpause">
        <p id="progress">???</p>
      </div>
      <div class="vol-contain">
        <p id="volume">???</p>
      </div>
    </div>
  </div>
</div>