<script src="//unpkg.com/3d-force-graph"></script>
<div id="splash-graph-container"></div>

<script type="module">
  import { UnrealBloomPass } from '//cdn.skypack.dev/three/examples/jsm/postprocessing/UnrealBloomPass.js';
  const index = {{$.Site.Data.linkIndex.index}}
  const links = {{$.Site.Data.linkIndex.links}}
  const curPage = {{ strings.TrimRight "/" .Page.RelPermalink }}
  const pathColors = {{$.Site.Data.graphConfig.paths}}
  const parseIdsFromLinks = (links) => [...(new Set(links.flatMap(link => ([link.source, link.target]))))]
  const data = {
    nodes: parseIdsFromLinks(links).map(id => ({id})),
    links,
  }

  const getStyle = (name) => getComputedStyle(document.body).getPropertyValue(`--${name}`).trim()
  const userPref = window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'dark'
  let isDarkMode = (localStorage.getItem('theme') ?? userPref) === 'dark'

  const canvas = document.getElementById('splash-graph-container')
  const Graph = ForceGraph3D({
    rendererConfig: { antialias: true, alpha: true }
  })(canvas)

  const highlightNodes = new Set()
  const highlightLinks = new Set()
  let hoverNode = null

  Graph
    .nodeLabel('id')
    .enableNavigationControls(true)
    .enableNodeDrag(false)
    .showNavInfo(false)
    .nodeOpacity(1)
    .backgroundColor(isDarkMode ? getStyle('light') : "rgba(0,0,0,0)")
    .graphData(data)
    .nodeLabel((d) => `<div class="nodeLabel"><p>${d.id}</p></div>`)
    .onNodeClick((d) => window.location.href = `${d.id}?ref=graph`)
    .nodeColor((d) => {
      if (d.id === hoverNode) {
        return getStyle('salmon')
      }

      // something else selected, dim self
      if (!!hoverNode && !highlightNodes.has(d.id)) {
        return "#afbfc933"
      }

      for (const pathColor of pathColors) {
        const path = Object.keys(pathColor)[0]
        const colour = pathColor[path]
        if (d.id.startsWith(path)) {
          return colour
        }
      }
      return getStyle('navy')
    })
    .linkOpacity(1)
    .linkColor((l) => highlightLinks.has(l.index) ? "#5A7282" : getStyle('outlinegray'))
    .onNodeHover((d) => {
      // empty selection
      if (!d) {
        highlightNodes.clear()
        highlightLinks.clear()
        hoverNode = null
        updateHighlight()
        return
      }

      // no state change
      if ((!d && !highlightNodes.size) || (d && hoverNode === d)) return
      highlightNodes.clear()
      highlightLinks.clear()

      const neighbours = parseIdsFromLinks([...(index.links[d.id] || []), ...(index.backlinks[d.id] || [])])
      const selfLinks = links.filter(l => l.source.id === d.id || l.target.id === d.id)
      neighbours.forEach(neighbour => highlightNodes.add(neighbour))
      selfLinks.forEach(link => highlightLinks.add(link.index))
      hoverNode = d.id
      updateHighlight()
    })

  const bloomPass = new UnrealBloomPass()
  bloomPass.strength = 3
  bloomPass.radius = 1
  bloomPass.threshold = 0.2
  if (isDarkMode) {
    Graph.postProcessingComposer().addPass(bloomPass)
  }

  const camera = Graph.camera()
  const renderer = Graph.renderer()
  const controls = Graph.controls()
  controls.noZoom = true
  const tanFOV = Math.tan(((Math.PI / 180) * camera.fov / 2))
  const windowHeight = window.innerHeight
  window.addEventListener('resize', () => {
    camera.aspect = window.innerWidth / window.innerHeight

    // adjust the FOV
    camera.fov = (360 / Math.PI) * Math.atan(tanFOV * (window.innerHeight / windowHeight))
    camera.updateProjectionMatrix()
    renderer.setSize(window.innerWidth, window.innerHeight)

  }, false)

  function updateDarkMode() {
    isDarkMode = !isDarkMode
    if (isDarkMode) {
      Graph.postProcessingComposer().addPass(bloomPass)
    } else {
      Graph.postProcessingComposer().removePass(bloomPass)
    }

    Graph
      .backgroundColor(isDarkMode ? getStyle('light') : "rgba(0,0,0,0)")
      .nodeColor(Graph.nodeColor())
      .linkColor(Graph.linkColor())
  }

  function updateHighlight() {
    Graph
      .nodeColor(Graph.nodeColor())
      .linkColor(Graph.linkColor())
  }


  const toggleSwitch = document.querySelector('#darkmode-toggle')
  toggleSwitch.addEventListener('change', updateDarkMode, false)

  const animate = function () {
    const scene = Graph.scene()
    scene.rotation.x += 5e-4
    scene.rotation.y += 5e-4
    requestAnimationFrame(animate)
  }
  animate()
</script>