{{if $.Site.Data.config.enableLinkPreview}}
<script>
  function htmlToElement(html) {
    const template = document.createElement('template')
    html = html.trim()
    template.innerHTML = html
    return template.content.firstChild
  }
  document.addEventListener("DOMContentLoaded", () => {
    fetchData.then(({content}) => {
      [...document.getElementsByClassName("internal-link")]
        .forEach(li => {
          var el
          if (li.dataset.ctx) {
            const linkDest = content[li.dataset.src]
            const popoverElement = `<div class="popover">
    <h3>${linkDest.title}</h3>
    <p>${highlight(removeMarkdown(linkDest.content), li.dataset.ctx)}...</p>
    <p class="meta">${new Date(linkDest.lastmodified).toLocaleDateString()}</p>
</div>`
            el = htmlToElement(popoverElement)
          } else {
            const linkDest = content[li.dataset.src]
            if (linkDest) {
              const popoverElement = `<div class="popover">
      <h3>${linkDest.title}</h3>
      <p>${removeMarkdown(linkDest.content).split(" ", 20).join(" ")}...</p>
      <p class="meta">Updated ${new Date(linkDest.lastmodified).toLocaleDateString()}</p>
  </div>`
              el = htmlToElement(popoverElement)
            }
          }

          if (el) {
            li.appendChild(el)
            renderMathInElement(el, {
              delimiters: [
                { left: '$$', right: '$$', display: false },
                { left: '$', right: '$', display: false },
                { left: '\\(', right: '\\)', display: false },
                { left: '\\[', right: '\\]', display: false }
              ],
              throwOnError: false
            })
            li.addEventListener("mouseover", () => {
              el.classList.add("visible")
            })
            li.addEventListener("mouseout", () => {
              el.classList.remove("visible")
            })
          }
        })
    })

  })
</script>
{{end}}
