<div id="search-container">
    <div>
        <input id="search-bar" name="search" type="text" aria-label="Search" placeholder="Search for something...">
        <div id="results-container">
            <div class="result-card">
                <p>No results. Start typing!</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/nextapps-de/flexsearch@0.7.2/dist/flexsearch.bundle.js"></script>
<script>
  const contentIndex = new FlexSearch.Worker({
    tokenize: "strict",
    context: true,
    cache: 100,
  })

  const scrapedContent = {{$.Site.Data.contentIndex}}
  for (const [key, value] of Object.entries(scrapedContent)) {
    contentIndex.add(key, value.content)
  }

  const resultToHTML = ({url, title, content}) => {
    content = content.substring(0, 50)
    return `<div class="result-card" id="${url}">
        <h3>${title}</h3>
        <p>${content}</p>
    </div>`
  }

  const source = document.getElementById('search-bar');
  const results = document.getElementById("results-container")
  source.addEventListener('input', (e) => {
    const term = e.target.value
    contentIndex.search(term, {
      limit: 5,
      depth: 3,
      suggest: true,
    }).then(searchResults => {
      const resultIds = [...new Set(searchResults)]
      const finalResults = resultIds.map(id => ({
        url: id,
        title: scrapedContent[id].title,
        content: scrapedContent[id].content
      }))

      // display
      if (finalResults.length === 0) {
        results.innerHTML = `<div class="result-card">
            <p>No results.</p>
        </div>`
      } else {
        results.innerHTML = finalResults.map(resultToHTML).join("\n")
        const anchors = document.getElementsByClassName("result-card");
        [...anchors].forEach(anchor => {
          anchor.onclick = () => {
            window.location.href = anchor.id
          }
        })
      }
    })
  });

  const searchContainer = document.getElementById("search-container")
  document.addEventListener('keypress', (event) => {
    if (event.code === "Slash") {
      event.preventDefault();
      if (searchContainer.style.display === "none") {
        source.value = ""
        results.innerHTML = `<div class="result-card">
            <p>No results. Start typing!</p>
        </div>`
        searchContainer.style.display = "block"
        source.focus()
      } else {
        searchContainer.style.display = "none"
      }
    }
  });
</script>