<div id="search-container">
    <div>
        <input id="search-bar" name="search" type="text" aria-label="Search" placeholder="Search for something...">
        <div id="results-container">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/nextapps-de/flexsearch@0.7.2/dist/flexsearch.bundle.js"></script>
<script>
  // code from https://github.com/danestves/markdown-to-text
  const removeMarkdown = (
    markdown,
    options = {
      listUnicodeChar: "",
    },
  ) => {
    options = options || {};
    options.listUnicodeChar = options.hasOwnProperty("listUnicodeChar")
      ? options.listUnicodeChar
      : false;
    options.stripListLeaders = options.hasOwnProperty("stripListLeaders")
      ? options.stripListLeaders
      : true;
    options.gfm = options.hasOwnProperty("gfm") ? options.gfm : true;
    options.useImgAltText = options.hasOwnProperty("useImgAltText")
      ? options.useImgAltText
      : true;
    options.preserveLinks = options.hasOwnProperty("preserveLinks") ? options.preserveLinks : false;

    let output = markdown || "";
    output = output.replace(/^(-\s*?|\*\s*?|_\s*?){3,}\s*$/gm, "");

    try {
      if (options.stripListLeaders) {
        if (options.listUnicodeChar)
          output = output.replace(
            /^([\s\t]*)([\*\-\+]|\d+\.)\s+/gm,
            options.listUnicodeChar + " $1"
          );
        else output = output.replace(/^([\s\t]*)([\*\-\+]|\d+\.)\s+/gm, "$1");
      }
      if (options.gfm) {
        output = output
          .replace(/\n={2,}/g, "\n")
          .replace(/~{3}.*\n/g, "")
          .replace(/~~/g, "")
          .replace(/`{3}.*\n/g, "");
      }
      if(options.preserveLinks) {
        output = output.replace(/\[(.*?)\][\[\(](.*?)[\]\)]/g, "$1 ($2)")
      }
      output = output
        .replace(/<[^>]*>/g, "")
        .replace(/^[=\-]{2,}\s*$/g, "")
        .replace(/\[\^.+?\](\: .*?$)?/g, "")
        .replace(/\s{0,2}\[.*?\]: .*?$/g, "")
        .replace(/\!\[(.*?)\][\[\(].*?[\]\)]/g, options.useImgAltText ? "$1" : "")
        .replace(/\[(.*?)\][\[\(].*?[\]\)]/g, "$1")
        .replace(/^\s{0,3}>\s?/g, "")
        .replace(/(^|\n)\s{0,3}>\s?/g, "\n\n")
        .replace(/^\s{1,2}\[(.*?)\]: (\S+)( ".*?")?\s*$/g, "")
        .replace(
          /^(\n)?\s{0,}#{1,6}\s+| {0,}(\n)?\s{0,}#{0,} {0,}(\n)?\s{0,}$/gm,
          "$1$2$3"
        )
        .replace(/([\*_]{1,3})(\S.*?\S{0,1})\1/g, "$2")
        .replace(/([\*_]{1,3})(\S.*?\S{0,1})\1/g, "$2")
        .replace(/(`{3,})(.*?)\1/gm, "$2")
        .replace(/`(.+?)`/g, "$1")
        .replace(/\n{2,}/g, "\n\n");
    } catch (e) {
      console.error(e);
      return markdown;
    }
    return output;
  };
</script>
<script>
  const contentIndex = new FlexSearch.Worker({
    tokenize: "strict",
    charset: "latin:advanced",
    context: true,
    depth: 3,
    cache: 10,
    suggest: true,
  })

  const scrapedContent = {{$.Site.Data.contentIndex}}
  for (const [key, value] of Object.entries(scrapedContent)) {
    contentIndex.add(key, value.content)
  }

  const resultToHTML = ({url, title, content}) => {
    const md = content.split("---")[2]
    const text = removeMarkdown(md)
    return `<div class="result-card" id="${url}">
        <h3>${title}</h3>
        <p>${text}</p>
    </div>`
  }

  const source = document.getElementById('search-bar');
  const results = document.getElementById("results-container")
  source.addEventListener('input', (e) => {
    const term = e.target.value
    contentIndex.search(term, {
      limit: 5,
      depth: 3,
      suggest: true,
    }).then(searchResults => {
      const resultIds = [...new Set(searchResults)]
      const finalResults = resultIds.map(id => ({
        url: id,
        title: scrapedContent[id].title,
        content: scrapedContent[id].content
      }))

      // display
      if (finalResults.length === 0) {
        results.innerHTML = `<div class="result-card">
            <p>No results.</p>
        </div>`
      } else {
        results.innerHTML = finalResults.map(resultToHTML).join("\n")
        const anchors = document.getElementsByClassName("result-card");
        [...anchors].forEach(anchor => {
          anchor.onclick = () => {
            window.location.href = anchor.id
          }
        })
      }
    })
  });

  const searchContainer = document.getElementById("search-container")
  document.addEventListener('keydown', (event) => {
    if (event.key === "/") {
      event.preventDefault();
      if (searchContainer.style.display === "none") {
        source.value = ""
        results.innerHTML = ""
        searchContainer.style.display = "block"
        source.focus()
      } else {
        searchContainer.style.display = "none"
      }
    }
    if (event.key === "Esc") {
      event.preventDefault();
      searchContainer.style.display = "none"
    }
  });
</script>