<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
{{partial "chat.html" .}}
<div id="index" class="singlePage">
    {{partial "header.html" .}}
    <img id="banner" src="/banner.svg" />
    <div class="bio">
        <div class="writing-sidebar">
            <div class="delay t-2">
                <h2>Recent Writing</h2>
                {{$writing := where .Site.RegularPages "Section" "posts" }}
                <ul class="delay stagger">
                    {{range first 3 $writing }}
                    <li>
                        <div class="section">
                            <div class="desc">
                                <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
                            </div>
                            <p class="meta">
                            {{.WordCount}} words on {{partial "date-fmt.html" .}} 
                            </p>
                            {{partial "tags.html" .}}
                        </div>
                    </li>
                    {{end}}
                </ul>
                <a href="/posts">See {{sub (len $writing) 3}} more →</a>
            </div>
            <div class="delay t-3">
                <h2>Recent Notes</h2>
                {{$notes := where .Site.RegularPages "Section" "thoughts"}}
                <ul class="delay stagger">
                    {{range first 2 $notes }}
                    <li>
                        <div class="section">
                            <div class="desc">
                                <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
                            </div>
                            <p class="meta">
                                {{.WordCount}} words on {{ .Lastmod.Format "Jan 2, 2006" }}
                            </p>
                            {{partial "tags.html" .}}
                        </div>
                    </li>
                    {{end}}
                </ul>
                <a href="/thoughts">See {{sub (len $notes) 2}} more →</a>
            </div>
        </div>
        <article>
            <p>Hello there, traveller of the web. <span class="return-only"> Welcome back! </span> You must be tired from your journey.</p>
            <div class="delay stagger">{{partial "textprocessing.html" . }}</div>
        </article>
    </div>
    <div class="delay t-4">
        {{partial "footer.html" .}}
    </div>
</div>
</body>
</html>

