<!DOCTYPE html>
<html lang="en">
  {{ partial "head/head.html" . }}

  <body>
    <!-- Begin actual content -->
    <div id = "landing-container">
      {{partial "landing/darkmode.html" .}}
      <div id = "landing-overlay" class="lt-flex-col lt-content-column">
        <div class="lt-flex-66">
          {{partial "landing/spin-text.html" .}}
        </div>
        <div id="intro-arrow" class="lt-flex-33">
          {{partial "landing/arrow.html" .}}
        </div>
      </div>
      <canvas id="canvas"></canvas>
    </div>

    <!-- Personal Bio -->
    <div class="lt-content-column" id="bio_container">
      <div id="bio">
        <h2>
          <span class="hover">about.</span>
        </h2>
        <div class="lt-flex-row">
          {{partial "bio/bio.html" .}}
        </div>
      </div>
    </div>

    <!-- Work Experience Section -->
    <div class="lt-content-column" id="experience">
      <h2>
        <span class="hover">experience.</span>
      </h2>
      <div id="expcards">
        {{partial "jobs/jobs.html" .}}
      </div>
    </div>

    <!-- Video Section -->
    <div id="vid" class="lt-content-column">
      {{partial "video/video.html" .}}
    </div>

    <!-- Project Section -->
    <div id="projects" class="lt-content-column">
      <h2>
        <span class="hover">projects.</span>
      </h2>
      {{partial "projects/projects.html" .}}
    </div>

    <!-- Contact Info -->
    <div id="contact_buttons" class="lt-centre">
      <p>made by jacky zhao, © 2020</p>
      {{- range $.Site.Data.links -}}
        <a target="_blank "href="{{.link}}">[{{.link_name}}]</a>
      {{- end -}}
    </div>
  <!-- Load JS stuff -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{- with resources.Get "script.js" | minify -}}
  <script>
    {{.Content | safeJS}}
  </script>
  {{- end -}}
  </body>
</html>
