{{- range $.Site.Data.jobs -}}
<div class="main_card accordion">
  <div class="lt-hover lt-shadow lt-card lt-flex-row accordion-item">
    <div class="accordion_body {{if .expand}}is-active{{end}}">
      <div class="lt-flex-row job-info">
        <img class="company-logo" src="res/{{.img}}" title="{{.name}}">
        <div>
          <h3 class="job_name">{{.name}}</h3>
          <h3 class="job_title">{{.year}} // {{.title}}</h3>
        </div>
        <div class="accordion-arrow"></div>
      </div>
      <div class="accordion-panel">
        <p class="slider__txt">{{.things}}</p>
        <ul class="lt-hl">
          {{- range .techlist -}}
          <li>{{.}}</li>
          {{- end -}}
        </ul>
      </div>
    </div>
    <div class="lang_bar">
      <span class="tooltiptext">
        {{- range $i, $e := .lang_ratios -}}
        {{if $i}}, {{end}}{{$e.name}}
        {{- end -}}
      </span>
      <div class="bar_container lt-flex-col">
      {{- range .lang_ratios -}}
        <div style="background-color: {{index $.Site.Data.colors .name}}; flex: 0 0 {{.percent}}%"></div>
      {{- end -}}
      </div>
    </div>
  </div>
</div>
{{- end -}}