<p class="lt-flex-50">
  I am a passionate software developer trying to build solutions to the world’s problems. When I'm not coding, you can find me hitting the climbing gym, grabbing a bubble tea, or exploring beautiful Vancouver! Feel free to <a target="_blank" href="res/2020s-jackyzhao-textresume.pdf">download my resume </a> or contact me for a quick chat at <a target="_blank" href="mailto:j.zhao2k19@gmail.com">j.zhao2k19@gmail.com</a>
</p>
<p class="lt-card lt-hover lt-shadow" id="bio_json">
  <span id=json0>{<br></span>
  <span id=json1>
    <span id=json1_1>"name"</span>
    <span id=json1_2>:</span>
    <span id=json1_3>"{{$.Site.Data.me.name}}"</span>
    <span id=json1_2>,</span>
  </span>
  <span id=json2>
    <span id=json2_1>"isJobSearching"</span>
    <span id=json2_2>:</span>
    <span id=json3_4>{{$.Site.Data.me.jobSearching}}</span>
    <span id=json1_2>,</span>
  </span>
  <span id=json3>
    <span id=json3_1>"student"</span>
    <span id=json3_2>:</span>
    <span id=json3_4>{{$.Site.Data.me.student}}</span>
    <span id=json1_2>,</span>
  </span>
  <span id=json4>
    <span id=json4_1>"goal"</span>
    <span id=json4_2>:</span>
    <span id=json4_3>"{{$.Site.Data.me.goal}}"</span>
  </span>
  <span id=json0>}<br></span>
</p>