<div class="lt-flex-50">
  <p>
    Welcome to my little corner of the internet! I'm a curious software developer interested in building developer tools that empower all types of people to get into the field of computer science. Currently, I'm based in Vancouver, BC and studying Computer Science @ubc. 
  </p>
  <p>
    In my spare time, you can find me faffing around on the climbing wall, shooting mediocre photos, or reading in a park somewhere! I also help to organize <a target="_blank" rel="noreferrer" href="https://lhd.nwplus.io/">Local Hack Day</a> as a part of <a target="_blank" rel="noreferrer" href="https://www.nwplus.io/">@nwplus</a> and write code for <a target="_blank" rel="noreferrer" href="https://github.com/bentoml/BentoML">@bentoml</a>. Recently, I've started <a target="_blank" rel="noreferrer" href="https://blog.jzhao.xyz/">a blog</a> which I plan to write more about some of my thoughts on tech, personal projects, and general musings about the world.
  </p>
  <p>
    Feel free to <a target="_blank" rel="noreferrer" href="res/2020s-jackyzhao-textresume.pdf">download my resume</a>,
    poke around <a target="_blank" rel="noreferrer" href="https://github.com/jackyzha0">my GitHub</a>, or
    contact me for a quick chat at <a target="_blank" rel="noreferrer"
      href="mailto:j.zhao2k19@gmail.com">j.zhao2k19@gmail.com</a>
  </p>
</div>
<div class="lt-flex-50 img-container">
  <img class="deco" src="res/deco.png" alt="Jacky Zhao" loading=lazy />
  <img class="lt-shadow lt-hover me" src="res/me.jpg" alt="Image decoration" loading=lazy />
</div>