<div class="lt-flex-50" {{range $.Site.Data.aos.settings}}{{. | safeHTMLAttr}}{{end}}>
  {{ $gh := getJSON $.Site.Data.me.api_url }}
  <div class="lt-shadow highlight-container">
    {{$jsonContent := (dict "name" $gh.name "currently" $gh.company "location" $gh.location) | jsonify (dict "prefix" " " "indent" " ") }}
    {{highlight $jsonContent "json" ""}}
  </div>
  {{.Content}}
  <h2>Links</h2>
  <p>
    Feel free to download my <a target="_blank" rel="noreferrer" href="{{$.Site.Data.me.resume}}">resume</a>,
    poke around <a target="_blank" rel="noreferrer" href="https://github.com/{{$.Site.Data.me.github}}">my GitHub</a>, or
    shoot me a DM <a target="_blank" rel="noreferrer"
                       href="https://twitter.com/{{$.Site.Data.me.twitter}}">on Twitter</a>!
  </p>
</div>
<div class="lt-flex-50 detail-container">
  <h2>Recent writing</h2>
  <p>I've started to make a conscious effort to start writing more in order to help myself organize my thoughts. You can find a collection of my half-baked thoughts on my blog where I plan to write more about some of my personal projects and general musings about the world.</p>
  <ul>
    {{ range first 5 (where .Site.RegularPages "Section" "==" "posts") }}
    <li class="singlePost">
      <div class="desc">
        <span class="time">{{ .Date.Format .Site.Params.dateFormat }}</span>
        <p><a class="postLink" href="{{ .Permalink }}?ref=home">
          {{- .Title -}}
        </a></p>
      </div>
    </li>
    {{ end }}
  </ul>
  <h2>Newsletter</h2>
  {{ partial "newsletter/cta.html" . }}
</div>