@use "./base.scss";

// put your custom CSS here!
@use "./variables.scss" as *;

body[data-slug="index"] img {
  filter: invert(0%);
  opacity: 0.85;
}

body {
  position: relative;
  min-height: 100vh;
}

#texture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/static/texture.png");
  mix-blend-mode: hard-light;
  pointer-events: none;
  z-index: 999;
}

[saved-theme="dark"] #texture {
  mix-blend-mode: overlay;
}

[saved-theme="dark"] body[data-slug="index"] img[src*="banner.svg"] {
  filter: invert(100%);
}

.left {
  display: grid !important;
  gap: 1.5rem !important;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  align-items: center;

  .page-title {
    grid-area: 1 / 1 / 2 / 3;
  }

  .search {
    grid-area: 2 / 1 / 3 / 2;
  }

  .darkmode {
    grid-area: 2 / 2 / 3 / 3;
  }

  .toc {
    grid-row: 3;
    grid-column: 1 / 3;
  }

  .recent-notes:nth-last-child(2) {
    grid-area: 3 / 1 / 3 / 3;
  }

  .recent-notes:nth-last-child(1) {
    grid-area: 4 / 1 / 4 / 3;
  }

  @media all and (max-width: $fullPageWidth) {
    display: flex !important;
  }
}

hr {
  overflow: visible;
  padding: 0;
  margin: 4em auto;
  border: none;
  color: var(--gray);
  text-align: center;
  width: 40%;
  border-color: var(--gray);
  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background: var(--light);
  }
}

pre.poetry {
  font-size: 1.2rem;
  font-family: biro_script_standardRgus;
  border: none;
  padding: 0;
  position: unset;
}

.meta,
.content-meta {
  font-family: biro_script_standardRgus, var(--bodyFont);
}

audio::-webkit-media-controls-panel {
  background-color: var(--lightgray);
}
